<!DOCTYPE html>
<html>
<head>
  <title>SpaceGame</title>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Macrogravity</a>
    <p class="score">Score:<p class="score" id="score">0</p></p>
    <!-- <% if !current_user %>
      <li class="menu-text"><%= link_to image_tag("noun_153623_cc.svg", class:"duck"), root_path %></li>
      <li><%= link_to "Sign In", login_path %></li>
    <% else %>
      <li class="menu-text"><%= link_to image_tag("noun_153623_cc.svg", class:"duck"), root_path %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Logout", logout_path(current_user) %></li>
    <% end %> -->
    <hr>
  </nav>

<%= yield %>


<%= Gon::Base.render_data %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- <%= yield :javascript_includes %> -->
<%= csrf_meta_tags %>
</body>
</html>
