<!DOCTYPE html>
<html>
<head>
  <title>Objekts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav class="mynav">
    <div class="menu">
        <a><%= link_to "Top Scores", scores_path, { class: "top-scores-nav" } %></a>
        <div class="<%= @score_show ? 'score' : 'hidden-score' %>"><p id="score">0000</p></div>
    </div>
  </nav>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <p>
        <small class="alert alert-info"> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>
  </div>
<%= yield %>

<%= Gon::Base.render_data %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'welcome'%>
<%= csrf_meta_tags %>

</body>
</html>
