<!DOCTYPE html>
<html>
<head>
  <title>SpaceGame</title>
</head>
<body>
  <div class="collapse" id="exCollapsingNavbar">
    <div class="bg-inverse p-a-1">
      <% if !current_user %>
        <p><%= link_to "Sign In", new_session_path %></p>
        <p><%= link_to "Sign Up", new_user_path %>
      <% else %>
        <p><%= link_to "Play", root_path %></p>
        <p><%= link_to "Top Scores", scores_path %></p>
        <p><%= link_to "Profile", user_path(current_user) %></p>
        <p><%= link_to "Logout", logout_path(current_user) %></p>
      <% end %>
    </div>
  </div>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
  </nav>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <p>
        <small class="alert alert-info"> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>
  </div>




<%= yield %>


<%= Gon::Base.render_data %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</body>
</html>
